body {
    background-color: #f6f4e6;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
}

.main-container {
    background-color: white;
    margin-top: 3rem;
    padding-top: 1rem;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border-radius: 10px;
}

.header__container {
}

.header__container-special-text {
    color: #fddb3a
}

.header__container-text {
    padding: 0;
    margin-left: 10%;
    margin-right: 10%;
}

.see-more-button__container-button {
    border: 0;
    color: #070d59;
    outline:none !important;
    background-color: inherit;
    padding-bottom: 2rem;
}

.see-more-button__container-button-text {
    letter-spacing: 3px;
    margin-bottom: 0;
}

.see-more-button__container-button-text:hover {
    text-shadow: 2px 2px 5px
}

.hidden__container {
    border-radius: 10px;
    padding: 1rem;
    transition: all .2s ease-out;
}

.footer__container {
    margin-top: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #fddb3a;
}