body {
    background-color: #0f3057;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
}


.main-container {
    background-color: white;
    margin-top: 3rem;
    padding-top: 1rem;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border-radius: 10px;
    margin-bottom: 0;
}

.main-content__container {
    border-radius: 0;
    margin-bottom: 0;
}

.main-content__container-em {
    color: #fddb3a
}
.main-content__container-my-name {
    color: #0f3057;
}

.header__container-special-text {
    color: #fddb3a
}

.header__container-text {
    padding: 0;
    margin-left: 10%;
    margin-right: 10%;
}

.card {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.see-more-button__container-button {
    border: 0;
    color: #0f3057;
    outline:none !important;
    background-color: inherit;
    padding-bottom: 2rem;
}

.btn-warning {
    border: 0;
    background-color: #0f3057;
}

.btn-warning:hover {
    background-color: #fddb3a;
}

.btn-danger {
    border: 0;
    background-color: #fddb3a;
}

.btn-danger:hover {
    background-color: #fddb3a;
    background-color: #0f3057;
}

.see-more-button__container-button-text {
    letter-spacing: 3px;
    margin-bottom: 0;
}

.see-more-button__container-button-text:hover {
    text-shadow: 2px 2px 5px
}

.see-more-button__container-button-icon:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.footer__container-link-text {
    color: #0f3057 !important;
}

.footer__container-link:hover{
    text-decoration: none;
    text-shadow: 2px 2px 5px #0f3057;
}

.hidden__container {
    border-radius: 10px;
    transition: all .2s ease-out;
}

.footer__container {
    margin-top: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #fddb3a;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.go-back-button:hover {
    text-decoration: none;
    max-width: 0;
}